:root .theme_light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --subtitle-color: #353430;
  --accent-color: #FF8DCB;
  --main-header-color: #FFC2E6;
  --decoration-color: #353430;
  --section-title-color: #353430;
  --button-text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --outline-color: rgb(50 49 45 / 0.4);
}

.theme_light .rec__decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --subtitle-color: #353430;
    --accent-color: #FF8DCB;
    --main-header-color: #FFC2E6;
    --decoration-color: #353430;
    --section-title-color: #353430;
    --button-text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --outline-color: rgb(50 49 45 / 0.4);
  }

  .theme_light .rec__decoration,
  .theme_auto .rec__decoration {
    display: none;
  }
}