/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  position: relative;
  min-block-size: max(668px, 100vh);
  margin-block-end: 40px;
  padding: 10px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.header__theme-menu-button {
  min-block-size: 26px;
  background-color: transparent;
  color: var(--accent-color);
  border: none;
  text-align: center;
  line-height: 100%;
  padding: 0 13px 5px;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid rgb(255 0 112 / 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-align: left;
  line-height: 82.5%;
}

.header__subtitle {
  justify-self: end;
}

.title-decor {
  background-color: var(--accent-color);
}

.header__subtitle-content {
  font-weight: bold;
  line-height: initial;
  color: var(--bg-color);
}

.rec__decoration {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  text-transform: uppercase;
  color: var(--accent-color);
  line-height: 139%;
  margin-inline-end: 28px;
}

.rec__decoration::after {
  content: '';
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -19px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.section__why {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  margin-block-end: 50px;
  padding: 0px 10px;
  gap: 20px;
}

.section__title {
  color: var(--accent-color);
  font-weight: bold;
  font-size: inherit;
}

.section__subtitle {
  margin-block-end: 10px;
  font-size: inherit;
  color: var(--subtitle-color);
}

.section__content {
  color: var(--text-color);
}

.section__content-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.section__content-link:hover {
  border-bottom: 1.5px solid var(--text-color);
}

.section__content-link:focus {
  outline: none;
  border: none;
}

.section__content-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section__factors {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  align-items: center;
  margin-block-end: 50px;
  padding: 0px 10px;
  gap: 20px;
}

.section__advice {
  display: grid;
  grid-template-rows: repeat(7, min-content);
  align-items: center;
  margin-block-end: 50px;
  padding: 0px 10px;
  gap: 20px;
}

section > .section__subtitle {
  margin-block-end: 0px;
}

.section__advice-subtitle {
  font-weight: normal;
}

.section__gallery {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  align-items: center;
  margin-block-end: 40px;
  padding: 0px 10px;
  gap: 10px;
}

.section__gallery_image {
  max-width: 100%;
}

.footer {
  display: flex;
  min-block-size: max(668px, 100vh);
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-header-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-align: left;
  line-height: 82.5%;
}

@media (min-width: 768px) {

  .header {
    padding: 20px 20px 20px 0px;
    margin-block-end: 60px;
    min-block-size: max(1024px, 100vh);
  }

  .decorated-zone::before {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .decorated-zone::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    max-inline-size: 364px;
   }

  .rec__decoration {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .section__why {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 32% minmax(min-content, max-content);
    margin-block-end: 80px;
    padding: 0px 20px;
  }

  .section__title {
      grid-row: 1/3;
      align-self: start;
  }

  .section__factors {
    margin-block-end: 80px;
    padding: 0px 20px;
  }

  .section__factors-title {
    max-width: 32%;
  }

  .section__advice {
    grid-template-rows: repeat(6, min-content);
    grid-template-columns: 32% minmax(min-content, max-content);
    margin-block-end: 80px;
    padding: 0px 20px;
  }

  .section__advice-title {
    grid-row: 1/7;
    align-self: start;
  }

  .section__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    align-items: stretch;
    margin-block-end: 60px;
    padding: 0px 20px;
    gap: 20px;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
  }

  .section__gallery-subtitle {
    grid-column: 1/4;
  }

  .section__gallery_image {
    object-fit: cover;
  }

  .section__gallery_image-sunset {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .section__gallery_image-sundae {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .section__gallery_image-tape {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .section__gallery_image-books {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .section__gallery_image-street {
    grid-column: 2/4;
    grid-row: 4/5;
  }

  .footer {
    min-block-size: max(1024px, 100vh);
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {

  .header {
    min-block-size: max(768px, 100vh);
  }

  .header__theme-menu {
    align-self: start;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .header__subtitle {
    max-inline-size: 491px;
   }

  .section__factors {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .section__factors-title {
    grid-column: 1/4;
  }

  .footer {
    min-block-size: max(768px, 100vh);
  }
}